name: PR Validation

on:
  pull_request:
    branches: [develop]

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Update auth secrets
        env:
          AUTH_SECRET_IV: ${{ secrets.AUTH_SECRET_IV }}
          AUTH_SECRET_KEY: ${{ secrets.AUTH_SECRET_KEY }}
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          LOGO_API_KEY: ${{ secrets.LOGO_API_KEY }}
        run: |
          cat <<EOF > local.properties
          auth_secret_key=$AUTH_SECRET_KEY
          auth_secret_iv=$AUTH_SECRET_IV
          firebase_api_key=$FIREBASE_API_KEY
          logo_api_key=$LOGO_API_KEY
          EOF

      - name: Create BuildKonfig
        run: ./gradlew generateBuildKonfig

      - name: Build app
        run: ./gradlew assembleDebug :core:common:assembleAndroidTest :core:platform:assembleAndroidTest :composeApp:assembleAndroidTest

      - name: Run Unit Tests
        run: |
          ./gradlew :core:common:test
          ./gradlew :core:network:test
          ./gradlew :feature:auth:domain:test
          ./gradlew :feature:vault:domain:test
          ./gradlew :feature:tools:domain:test
          ./gradlew :feature:tools:data:test
          ./gradlew :feature:settings:domain:test

      - name: Run :core:common Android tests on Firebase Test Lab
        uses: asadmansr/Firebase-Test-Lab-Action@v1.0
        with:
          arg-spec: deviceconfig/common-android-device.yml:android-pixel-4
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_TEST_LAB_SERVICE_ACCOUNT }}

      - name: Run :core:platform Android tests on Firebase Test Lab
        uses: asadmansr/Firebase-Test-Lab-Action@v1.0
        with:
          arg-spec: deviceconfig/platform-android-device.yml:android-pixel-4
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_TEST_LAB_SERVICE_ACCOUNT }}

      - name: Run End-to-end Android tests on Firebase Test Lab
        uses: asadmansr/Firebase-Test-Lab-Action@v1.0
        with:
          arg-spec: deviceconfig/endtoend-android-device.yml:android-pixel-4
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_TEST_LAB_SERVICE_ACCOUNT }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            core/common/build/test-results/**/*.xml
            core/network/build/test-results/**/*.xml
            feature/auth/domain/build/test-results/**/*.xml

      - name: Assemble Release Apk
        run: ./gradlew assembleRelease

      - name: Sign Bundle
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: composeApp/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Signed release APK
          path: ${{steps.sign_app.outputs.signedReleaseFile}}

      - name: Deploy to App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: internal-testers
          file: ${{steps.sign_app.outputs.signedReleaseFile}}
          releaseNotesFile: whatsNew/whatsnew-en-US.txt